In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/moura/PAD_JOB/TextBlob/dataset-Traduzido.csv")


display(df)

,COMERCIO,COMENTÁRIO,DATA,AVALIACAO,SETOR,TextBlob,Unnamed: 6,texto_traduzido
0,Nova Opção de Bilhar,"Ambiente agradável, arejado e ventilado, atend...",27/062023,4,Leste universitário,NaN,NaN,"Nice, airy and ventilated environment, service..."
1,Nova Opção de Bilhar,O atendimento e ruim o dono e homofobico racis...,2019-06-24 00:00:00,1,Leste universitário,NaN,NaN,The service is bad the owner and racist and ru...
2,Nova Opção de Bilhar,"Lugar agradável, ambiente bom para encontrar c...",2023-04-05 00:00:00,3,Leste universitário,NaN,NaN,"Nice place, good environment to meet friends, ..."
3,Nova Opção de Bilhar,Melhor lugar do mundo! Mais conhecido por mim ...,2023-01-15 00:00:00,5,Leste universitário,NaN,NaN,Best place in the world! Better known for me a...
4,Nova Opção de Bilhar,Amei pagar 13$ na Antártica Litrão. Ficou até ...,2023-06-26 00:00:00,5,Leste universitário,NaN,NaN,I loved to pay 13 $ in Antarctica Litrão. It w...
...,...,...,...,...,...,...,...,...
437,Zé Latinhas,Aconchegante,3 anos atrás,4,Central,NaN,NaN,Cozy
438,Zé Latinhas,Ótima!!!,2 anos atrás,5,Central,NaN,NaN,Excellent!!!
439,Zé Latinhas,Ótima comida,3 anos atrás,5,Central,NaN,NaN,Great food
440,Zé Latinhas,Boa,um ano atrás,1,Central,NaN,NaN,Good
441,Zé Latinhas,Comida boa...,4 anos atrás,3,Central,NaN,29/7,Nice food...

In [2]:
#df = df.drop('TextBlob', axis=1)
df = df.drop('Unnamed: 6', axis=1)
# Substituir todos os NaN por 0
df['TextBlob'] = df['TextBlob'].fillna(0)
display(df)

,COMERCIO,COMENTÁRIO,DATA,AVALIACAO,SETOR,TextBlob,texto_traduzido
0,Nova Opção de Bilhar,"Ambiente agradável, arejado e ventilado, atend...",27/062023,4,Leste universitário,0.0,"Nice, airy and ventilated environment, service..."
1,Nova Opção de Bilhar,O atendimento e ruim o dono e homofobico racis...,2019-06-24 00:00:00,1,Leste universitário,0.0,The service is bad the owner and racist and ru...
2,Nova Opção de Bilhar,"Lugar agradável, ambiente bom para encontrar c...",2023-04-05 00:00:00,3,Leste universitário,0.0,"Nice place, good environment to meet friends, ..."
3,Nova Opção de Bilhar,Melhor lugar do mundo! Mais conhecido por mim ...,2023-01-15 00:00:00,5,Leste universitário,0.0,Best place in the world! Better known for me a...
4,Nova Opção de Bilhar,Amei pagar 13$ na Antártica Litrão. Ficou até ...,2023-06-26 00:00:00,5,Leste universitário,0.0,I loved to pay 13 $ in Antarctica Litrão. It w...
...,...,...,...,...,...,...,...
437,Zé Latinhas,Aconchegante,3 anos atrás,4,Central,0.0,Cozy
438,Zé Latinhas,Ótima!!!,2 anos atrás,5,Central,0.0,Excellent!!!
439,Zé Latinhas,Ótima comida,3 anos atrás,5,Central,0.0,Great food
440,Zé Latinhas,Boa,um ano atrás,1,Central,0.0,Good
441,Zé Latinhas,Comida boa...,4 anos atrás,3,Central,0.0,Nice food...

In [3]:
from textblob import TextBlob
cont = 0
polaridade_lista = []



for index, row in df.iterrows():
  #Peque a coluna que tem o texto traduzido e coloque em row["nome da coluna"]
    frase1 = row['texto_traduzido']  
    cont += 1
    
    tb = TextBlob(frase1)
    #tb_en = tb.translate(from_lang='pt_br', to='en')
    #polarity = tb_en.sentiment.polarity
    
    polarity = tb.sentiment.polarity
    polaridade_lista.append(polarity)
    
df['TextBlob'] = polaridade_lista
    
#print(f"Frase {cont}: {frase1}")
#print(f"Polaridade: {polarity}")
#print("---")

In [4]:
display(df)

,COMERCIO,COMENTÁRIO,DATA,AVALIACAO,SETOR,TextBlob,texto_traduzido
0,Nova Opção de Bilhar,"Ambiente agradável, arejado e ventilado, atend...",27/062023,4,Leste universitário,0.217500,"Nice, airy and ventilated environment, service..."
1,Nova Opção de Bilhar,O atendimento e ruim o dono e homofobico racis...,2019-06-24 00:00:00,1,Leste universitário,-0.500000,The service is bad the owner and racist and ru...
2,Nova Opção de Bilhar,"Lugar agradável, ambiente bom para encontrar c...",2023-04-05 00:00:00,3,Leste universitário,0.425000,"Nice place, good environment to meet friends, ..."
3,Nova Opção de Bilhar,Melhor lugar do mundo! Mais conhecido por mim ...,2023-01-15 00:00:00,5,Leste universitário,0.483333,Best place in the world! Better known for me a...
4,Nova Opção de Bilhar,Amei pagar 13$ na Antártica Litrão. Ficou até ...,2023-06-26 00:00:00,5,Leste universitário,0.750000,I loved to pay 13 $ in Antarctica Litrão. It w...
...,...,...,...,...,...,...,...
437,Zé Latinhas,Aconchegante,3 anos atrás,4,Central,-0.200000,Cozy
438,Zé Latinhas,Ótima!!!,2 anos atrás,5,Central,1.000000,Excellent!!!
439,Zé Latinhas,Ótima comida,3 anos atrás,5,Central,0.800000,Great food
440,Zé Latinhas,Boa,um ano atrás,1,Central,0.700000,Good
441,Zé Latinhas,Comida boa...,4 anos atrás,3,Central,0.600000,Nice food...

In [5]:
df_selecionado = df[['COMENTÁRIO', 'texto_traduzido', 'TextBlob']]

display(df_selecionado)

,COMENTÁRIO,texto_traduzido,TextBlob
0,"Ambiente agradável, arejado e ventilado, atend...","Nice, airy and ventilated environment, service...",0.217500
1,O atendimento e ruim o dono e homofobico racis...,The service is bad the owner and racist and ru...,-0.500000
2,"Lugar agradável, ambiente bom para encontrar c...","Nice place, good environment to meet friends, ...",0.425000
3,Melhor lugar do mundo! Mais conhecido por mim ...,Best place in the world! Better known for me a...,0.483333
4,Amei pagar 13$ na Antártica Litrão. Ficou até ...,I loved to pay 13 $ in Antarctica Litrão. It w...,0.750000
...,...,...,...
437,Aconchegante,Cozy,-0.200000
438,Ótima!!!,Excellent!!!,1.000000
439,Ótima comida,Great food,0.800000
440,Boa,Good,0.700000
441,Comida boa...,Nice food...,0.600000

Caso seja necessário, baixe o arquivo do dataset com as analises de sentimento

In [ ]:
# Exportar DataFrame como CSV
df.to_csv('dataset-analiseSentimento.csv', index=False)