# Polaridade de uma frase

In [3]:
import pandas as pd

frase = pd.read_csv("C:/Users/moura/PAD_JOB/TextBlob/BDTeste-2.csv")


display(frase)

,COMERCIO,COMENTÁRIO,DATA,AVALIACAO,SETOR,TextBlob,Unnamed: 6
0,Nova Opção de Bilhar,"Ambiente agradável, arejado e ventilado, atend...",27/062023,4,Leste universitário,NaN,NaN
1,Nova Opção de Bilhar,O atendimento e ruim o dono e homofobico racis...,2019-06-24 00:00:00,1,Leste universitário,NaN,NaN
2,Nova Opção de Bilhar,"Lugar agradável, ambiente bom para encontrar c...",2023-04-05 00:00:00,3,Leste universitário,NaN,NaN
3,Nova Opção de Bilhar,Melhor lugar do mundo! Mais conhecido por mim ...,2023-01-15 00:00:00,5,Leste universitário,NaN,NaN
4,Nova Opção de Bilhar,Amei pagar 13$ na Antártica Litrão. Ficou até ...,2023-06-26 00:00:00,5,Leste universitário,NaN,NaN
...,...,...,...,...,...,...,...
437,Zé Latinhas,Aconchegante,3 anos atrás,4,Central,NaN,NaN
438,Zé Latinhas,Ótima!!!,2 anos atrás,5,Central,NaN,NaN
439,Zé Latinhas,Ótima comida,3 anos atrás,5,Central,NaN,NaN
440,Zé Latinhas,Boa,um ano atrás,1,Central,NaN,NaN
441,Zé Latinhas,Comida boa...,4 anos atrás,3,Central,NaN,29/7

In [4]:
tb = frase.loc[4, 'COMENTÁRIO']
print(tb)

Amei pagar 13$ na Antártica Litrão. Ficou até mais gostosa rsr

In [5]:
from textblob import TextBlob

tb = TextBlob(tb)
tb_en = tb.translate(from_lang='pt_br', to='en')
print(tb_en)

I loved to pay 13 $ in Antarctica Litrão. It was even hotter lol

In [6]:
polarity = tb_en.sentiment.polarity
print(f"Polaridade: {polarity}")

Polaridade: 0.75

# Tradução dos comentários

In [9]:
import pandas as pd

df = pd.read_csv("C:/Users/moura/PAD_JOB/TextBlob/BDTeste-2.csv")


display(frase)

,COMERCIO,COMENTÁRIO,DATA,AVALIACAO,SETOR,TextBlob,Unnamed: 6
0,Nova Opção de Bilhar,"Ambiente agradável, arejado e ventilado, atend...",27/062023,4,Leste universitário,NaN,NaN
1,Nova Opção de Bilhar,O atendimento e ruim o dono e homofobico racis...,2019-06-24 00:00:00,1,Leste universitário,NaN,NaN
2,Nova Opção de Bilhar,"Lugar agradável, ambiente bom para encontrar c...",2023-04-05 00:00:00,3,Leste universitário,NaN,NaN
3,Nova Opção de Bilhar,Melhor lugar do mundo! Mais conhecido por mim ...,2023-01-15 00:00:00,5,Leste universitário,NaN,NaN
4,Nova Opção de Bilhar,Amei pagar 13$ na Antártica Litrão. Ficou até ...,2023-06-26 00:00:00,5,Leste universitário,NaN,NaN
...,...,...,...,...,...,...,...
437,Zé Latinhas,Aconchegante,3 anos atrás,4,Central,NaN,NaN
438,Zé Latinhas,Ótima!!!,2 anos atrás,5,Central,NaN,NaN
439,Zé Latinhas,Ótima comida,3 anos atrás,5,Central,NaN,NaN
440,Zé Latinhas,Boa,um ano atrás,1,Central,NaN,NaN
441,Zé Latinhas,Comida boa...,4 anos atrás,3,Central,NaN,29/7

In [10]:
import pandas as pd
from textblob import TextBlob

# Suponha que este é o seu DataFrame original
#data = {'texto': ['Olá mundo', 'Como você está?', 'Estou bem']}
#df = pd.DataFrame(data)

# Função para traduzir texto
def traduzir(texto):
    try:
        return str(TextBlob(texto).translate(from_lang='pt_br', to='en'))
    except:
        return texto


# Aplicar a função de tradução para a coluna 'texto'
df['texto_traduzido'] = df['COMENTÁRIO'].apply(traduzir)

# Agora 'df' tem uma nova coluna 'texto_traduzido' com o texto traduzido
print(df)

# Para armazenar a coluna traduzida em outra tabela (novo DataFrame)
novo_df = df['texto_traduzido'].to_frame()
print(novo_df)

                 COMERCIO                                         COMENTÁRIO  \
0    Nova Opção de Bilhar  Ambiente agradável, arejado e ventilado, atend...
1    Nova Opção de Bilhar  O atendimento e ruim o dono e homofobico racis...
2    Nova Opção de Bilhar  Lugar agradável, ambiente bom para encontrar c...
3    Nova Opção de Bilhar  Melhor lugar do mundo! Mais conhecido por mim ...
4    Nova Opção de Bilhar  Amei pagar 13$ na Antártica Litrão. Ficou até ...
..                    ...                                                ...
437           Zé Latinhas                                       Aconchegante
438           Zé Latinhas                                           Ótima!!!
439           Zé Latinhas                                       Ótima comida
440           Zé Latinhas                                                Boa
441           Zé Latinhas                                      Comida boa...

                    DATA  AVALIACAO                SETOR  TextBlob Unnamed: 6  \
0              27/062023          4  Leste universitário       NaN        NaN
1    2019-06-24 00:00:00          1  Leste universitário       NaN        NaN
2    2023-04-05 00:00:00          3  Leste universitário       NaN        NaN
3    2023-01-15 00:00:00          5  Leste universitário       NaN        NaN
4    2023-06-26 00:00:00          5  Leste universitário       NaN        NaN
..                   ...        ...                  ...       ...        ...
437         3 anos atrás          4              Central       NaN        NaN
438         2 anos atrás          5              Central       NaN        NaN
439         3 anos atrás          5              Central       NaN        NaN
440         um ano atrás          1              Central       NaN        NaN
441         4 anos atrás          3              Central       NaN       29/7

                                       texto_traduzido
0    Nice, airy and ventilated environment, service...
1    The service is bad the owner and racist and ru...
2    Nice place, good environment to meet friends, ...
3    Best place in the world! Better known for me a...
4    I loved to pay 13 $ in Antarctica Litrão. It w...
..                                                 ...
437                                               Cozy
438                                       Excellent!!!
439                                         Great food
440                                               Good
441                                       Nice food...

[442 rows x 8 columns]
                                       texto_traduzido
0    Nice, airy and ventilated environment, service...
1    The service is bad the owner and racist and ru...
2    Nice place, good environment to meet friends, ...
3    Best place in the world! Better known for me a...
4    I loved to pay 13 $ in Antarctica Litrão. It w...
..                                                 ...
437                                               Cozy
438                                       Excellent!!!
439                                         Great food
440                                               Good
441                                       Nice food...

[442 rows x 1 columns]

In [ ]:
display(df)

Como já armazenamos a tradução no dataset, agora podemos exportar esse dataset para usar sem precisar executar esse script toda vez que precisarmos das traduções.
(A tradução pode levar alguns minutos)

In [ ]:
# Exportar DataFrame como CSV
df.to_csv('dataset-Traduzido.csv', index=False)